.about-content {
  text-align: center;
  padding-bottom: 30px;
}
.top-title {
  font-size: 50px;
  line-height: 1;
}
.top-title-content {
  font-size: 17px;
}
.sub_content {
  font-size: 14px;
  text-align: justify;
  padding: 10px 0;
}
.about-team{
    text-align: left;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    color: #66d4de;
    font-size: 22px;
    text-transform: uppercase;
}